@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;600&display=swap');

*{
  font-family: 'Prompt', sans-serif;
}
li a{
  font-size: 20px !important;
  border-bottom: 5px solid white !important;
  
}
li a:hover{
  border-bottom: 5px solid black !important;
  
}
h1{
  font-size: 3.5rem !important;
  font-weight: bold !important;
  transition: .5s;
}
body{
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}
footer{
  text-align: center;
  background: black;
  color: white;
  opacity: 0.5;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
footer p{
  padding-top: 15px;
}
.logo{
  transform: rotate(40deg);
}
.nav-gap{
  gap: 60px;
}
.empty{
  position: relative;
  border-radius: 15px;
  padding: 20px 0px;
  width: 1%;
  transform: translate(0px, -5px);
  transition: all 0.25s ease;
}
.ability-box{
  cursor: pointer;
  position: relative;
  border-radius: 15px;
  border: 1px solid rgb(221, 221, 221);
  border-bottom: 7px solid rgb(221, 221, 221);
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  height: 90px;
  width: 100px;
  transform: translate(0px, -5px);
  transition: all 0.25s ease;
  
}
.ability-box:active{
  transform: translate(0px, 0px);
  border-bottom: 1px solid rgb(221, 221, 221);
}
.ability-box p {
  margin: 0;
}
.circle-bg {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(53,195,221);
  background: linear-gradient(137deg, rgba(53,195,221,1) 60%, rgba(124,255,69,1) 100%);
  clip-path: circle(1100px at right 1400px);
}
/* CSS Button */
button{
  padding: 10px 0px;
  width: 25%;
  font-weight: 600;
  font-size: 20px !important;
  color: white;

}
.btn-pre{
  background: #ED2E49;
  border: none;
  border-bottom: 8px solid #D61A35;
  border-radius: 40px;
  transform: translate(0px, -5px);
  transition: all 0.25s ease;
}
.btn-pre:active, .btn-icon:active, .btn-next:active{
  transform: translate(0px, 0px);
  border-bottom: 0px solid #000000;
}
.btn-icon{
  background: #00BF63;
  border: none;
  border-bottom: 8px solid #029D52;
  border-radius: 40px;
  transform: translate(0px, -5px);
  transition: all 0.25s ease;
}
.btn-next{
  background: #004AAD;
  border: none;
  border-bottom: 8px solid #043E8B;
  border-radius: 40px;
  transform: translate(0px, -5px);
  transition: all 0.25s ease;
}
.contact-container{
  width: 100%; 
  height: 40vh; 
  background-color: #DA2C33;
}

/* responsive */
@media(min-width: 300px) and (max-width:990px){
  .social-container{
    border-radius: 0px !important;
    gap: 15px !important;
  }
  .contact-container{
    height: 85vh;
    background-color: #DA2C33;
  }
  .circle-buttom{
    display: none;
  }
  .circle-buttom-shadow{
    display: none;
  }
  .circle-img{
    display: none;
  }
  .nav-gap{
    gap: 5px;
  }
  li a{
    font-size: 20px !important;
    border-bottom: none !important;
    
  }
  li a:hover{
    border-bottom: none !important;
  }
  footer{
    bottom: -550px;
  }
}